
@{
    Layout = null;
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model AnnualReports

@Html.AntiForgeryToken()
<table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
    <tr>
        <td class="fieldname">Year</td>
        <td>
            @Html.TextBoxFor(g => g.Year, new { @type = "number" })
            @Html.ValidationMessageFor(g => g.Year)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Title</td>
        <td>
            @Html.TextBoxFor(g => g.Title)
            @Html.ValidationMessageFor(g => g.Title)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Upload Cover Image <span class="importantNote">(800px by 1132px)</span></td>
        <td>
            <div class="upload">
                <input type="button" class="uploadBtn" value="Choose File">
                <input type="file" id="LargeImage" name="LargeImage" data-imageWidth="" data-imageHeight="" />
                <label>
                    @Html.TextBox("LargeImageFileName", null, new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })
                  
                </label>
            </div>
            @Html.ValidationMessage("LargeImage")
            <div class="imgPreview"><img id="LargeImageFilePath" src=""></div>
        </td>
    </tr>
    <tr>
        <td class="fieldname">Upload PDF File</td>
        <td>
            <div class="upload">
                <input type="button" class="uploadBtn" value="Choose File">
                <input type="file" name="FileName" id="FileName" />
                <label>
                    @Html.TextBox("PdfFileName", null, new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })
                  
                </label>
            </div>
            @Html.ValidationMessage("FileName")
        </td>
    </tr>
</table>
<div class="padding10"></div>
<input type="button" id="addreportsubmitBtn" class="submitBtn floatRight" value="Publish">

<div class="clear padding10"></div>
