@{
    Layout = null;
    string appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model PressRelease

@Html.AntiForgeryToken()

<table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
    <tr>
        <td class="fieldname">Date</td>
        <td>
            @Html.TextBoxFor(g => g.Date, new { @class = "calendar" })
            @Html.ValidationMessageFor(g => g.Date)
            @Html.HiddenFor(m => m.GUID)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Title</td>
        <td>
            @Html.TextBoxFor(g => g.Title)
            @Html.ValidationMessageFor(g => g.Title)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Upload PDF File</td>
        <td>
            <div class="upload">
                <input type="button" class="uploadBtn" value="Choose File">
                <input type="file" name="FileName" id="FileName" />
                <label>
                    @Html.TextBox("PdfFileName", (Model != null && !string.IsNullOrEmpty(Model.PDFName) ? Model.PDFName + "." + (Model != null ? Model.PDFExtension.Trim('.') : "") : ""), new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })

                </label>
            </div>
            @Html.ValidationMessage("FileName")
            @Html.HiddenFor(a => a.PDFGUID)
            @Html.HiddenFor(a => a.PDFName)
            @Html.HiddenFor(a => a.PDFExtension)
        </td>
    </tr>
</table>
<div class="padding10"></div>
<input type="button" class="submitBtn floatRight" id="editpressubmitBtn" value="Publish">
<div class="clear padding10"></div>
