
@{
    ViewBag.Title = "Index";
    ViewBag.BodyClass = "EVENTS";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);

}
@section meta{
    <meta property="og:url" content="https://www.tampines.org.sg/events.html" />
    <meta property="og:title" content="Events | Tampines Town Council" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://www.tampines.org.sg/images/events/banner-img.jpg" />
}
@section style{
    <style>

        .pageNum ul li span {
            display: block;
            color: #231f20;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            padding: 0 5px;
        }

        .eventsPg .events ul li {
            background: none !important;
        }
    </style>
}
@model EventViewModel
<div class="mainContents">
    <div class="eventsPg">
        <!--Page Banner-->
        <div class="pageBanner">
            @if (Model != null && Model.EventBanner != null && Model.EventBanner.Count > 0)
            {
                foreach (EventBanner banner in Model.EventBanner)
                {
                    <img src="@appPath/Resources/images/EventBanner/@banner.ImageGUID.@banner.ImageExtension" alt="">
                }
            }
        </div>
        <!--Breadcrumb-->
        <div class="breadcrumb">
            <div class="container">
                <a href="@appPath/">Home</a><span></span>Events
            </div>
        </div>

        <!--Events (Events)-->
        <div class="pageContents events">
            <!--h1>Events</h1-->
            <ul id="eventresult">

                @if (Model != null && Model.Events != null && Model.Events.Count > 0)
                {
                    IList<Events> Events = Model.Events;

                    foreach (Events E in Events)
                    {
                        <li>
                            <div class="image">
                                <img src="@appPath/Resources/Images/Events/@E.ImageGUID.@E.ImageExtension " alt="@E.Title">
                                <div class="mouseover">
                                    <a href="@E.FacebookLink" target="_blank"><img src="@appPath/Contents/images/common/fb-icon-white.png"></a>
                                    <a href="@E.InstagramLink" target="_blank"><img src="@appPath/Contents/images/common/instagram-icon-white.png"></a>
                                </div>
                            </div>
                            <div class="details">
                                <div class="date"><span>@E.EventDate.ToLongDateString() , @E.EventDate.ToString("dddd") </span></div>
                                <h4>@E.Title</h4>

                                @if (E.EventSection != null && E.EventSection.Count > 0)
                                {
                                    foreach (EventSection ES in E.EventSection)
                                    {
                                        <p>
                                            Venue: @(ES.Venue!=null? ES.Venue:"")<br />
                                            Time: @(ES.Time!=null? ES.Time : "")
                                        </p>
                                    }
                                }
                            </div>
                        </li>
                    }

                }
            </ul>

            @if (Model != null && Model.Events.Count() > 0)
            {
                <div class="pageNum pagination" data-pageindex="1" data-totalitems="@(((Model != null && Model.Events.Count() > 0)) ? Model.Events[0].TotalCount : 0)">
                    <!-- For Programmer-->



                </div>
            }

            @*<ol>
                    <li><a href="events.html" class="prev"></a></li>
                    <li><input type="text" value="2"></li>
                    <li>of</li>
                    <li>3</li>
                    <li><a href="events-page03.html" class="next"></a></li>
                </ol>*@
            <div class="padding20"></div>
        </div>

    </div><!--End Events-->
</div>



@section scripts{

    <script src="@appPath/Contents/jquery-1.12.4.js"></script>
    <script src="@appPath/Contents/jquery-ui.js"></script>
    <script src="@appPath/Contents/bootstrap/bootstrap.js"></script>
    <script src="@appPath/Contents/jqueryPagination/simplePagination.js"></script>
    <script src="@appPath/Contents/scripts/Custom/event-index.js"></script>


}

