

@{
    ViewBag.Title = "Tampines Town Council | CMS";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

<style>

    input[type="text"].calendar {
        background-image: url(/contents/images/calendar.png);
        background-position: 98% center;
        background-repeat: no-repeat;
        padding-right: 30px;
    }

    #ui-datepicker-div {
        z-index: 999999999 !important;
    }


</style>
@model IList<Events>
<div class="maincontents">
    <form>
        <h1>Events</h1>
        <div class="floatRight"><a href="javascript:void(0)" id="addeventbtn" class="editMetaBtn">Add Event</a></div>
        <div class="clear padding10"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey" id="EventsTbl">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="200">Date</th>
                        <th>Title</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int SNO = 1;
                        foreach (Events LC in Model)
                        {
                            <tr>
                                <td>@SNO</td>
                                <td>@LC.EventDate.ToString("dd/MM/yyyy")</td>
                                <td>@LC.Title</td>
                                <td>@((LC.ModifiedOn != null && LC.ModifiedOn != DateTime.MinValue) ? LC.ModifiedOn.ToString("dd/MMM/yyyy hh:mm tt") : (LC.CreatedOn != null && LC.CreatedOn != DateTime.MinValue) ? LC.CreatedOn.ToString("dd/MMM/yyyy hh:mm tt") : "")</td>
                                <td><a href="javascript:void(0)" data-id="@LC.GUID" class="editEventsbtn">Edit</a> | <a href="javascript:void(0)" id="deletebtn" data-uniquecode="@LC.GUID">Delete</a></td>
                            </tr>
                            SNO++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                No Records Found!

                            </td>

                        </tr>
                    }




                </tbody>

            </table>

            <div class="padding10"></div>
            @if (Model != null && Model.Count() > 0)
            {
                <div class="paginator pagination" data-pageindex="1" data-totalitems="@(((Model != null && Model.Count() > 0)) ? Model[0].TotalCount : 0)"></div>
            }
        </div>
        <div class="clear padding10"></div>
    </form>
</div>

<!-- Popup (delete) -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content deletealert">
            <div class="modal-header">
                <div class="title">Delete Event</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align:center;">
                    <p><strong>Are you sure to delete this event?</strong></p>
                    <div class="padding10"></div>
                    @using (Html.BeginForm("DeleteEvents", "Event", FormMethod.Post, new { enctype = "multipart/form-data", id = "DeleteEventForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="EncryptedId" id="EncryptedId" />
                        <input type="button" id="deleteeventbtn" class="submitBtn" value="Delete">
                    }

                    <div class="clear padding10"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Event</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditEventForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (add) -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Add Event</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("Add", "Event", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddEventForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script src="@appPath/Contents/jquery-1.12.4.js"></script>
        <script src="@appPath/Contents/jquery-ui.js"></script>
        <script src="@appPath/Contents/bootstrap/bootstrap.js"></script>

    <script type="text/javascript" src="@appPath/Contents/scripts/jqueryValidate/jquery.validate.js"></script>
    <script type="text/javascript" src="@appPath/Contents/scripts/jqueryValidate/jquery.validate.additional-methods.js"></script>

    <script src="@appPath/Contents/jqueryPagination/simplePagination.js"></script>



    <script src="@appPath/Contents/Admin/js/Custom/admin-event-index.js"></script>


}


