
@{
    Layout = null;
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

@model ForgotPassword
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
    <title>Tampines Town Council | CMS</title>
    <link rel="stylesheet" type="text/css" href="@appPath/Contents/Admin/css/common.css">
    <script src="@appPath/Contents/jquery-3.4.1.min.js"></script>
    <script src="@appPath/Contents/jqueryValidate/jquery.validate.js"></script>
    <script src="@appPath/Contents/bootstrap/bootstrap.js"></script>
    <script src="@appPath/Contents/Admin/js/Custom/login-resetpassword.js"></script>
</head>
<body class="LOGIN">

    <div class="wrapper">
        <div class="padding20"></div>

        <div class="loginPage">
            <div class="container">
                &nbsp;
                <div class="logo"><img src="@appPath/Contents/Admin/images/logo-img.png"></div>
                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "ResetPassForm" }))
                {
                    if (ViewBag.Success != null)
                    {

                        <div class="inner">

                            <h1>Reset Password</h1>
                            <div class="success">@ViewBag.Success</div>
                            <br /><br />
                            <a style="color: #fff;text-decoration: none;" class="commonBtn btn_resetpassword" href="@appPath/Admin">Click Here to go to Login</a>
                        </div>
                        


                    }
                    else
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Key)
                        <table class="tblcreate" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="td_forceCenter">
                                    <!--h1>Change Password</h1-->
                                    To ensure password security please follow the rules below when selecting or changing your password:
                                    <div style="padding-top:5px;"></div>
                                    Your password must:
                                    <div style="padding-top:5px;"></div>
                                    1. Be at least 8 characters long<br />
                                    2. Contain at least 1 number: (0 to 9)<br />
                                    3. Contain at least 1 lower case letter: (a to z)<br />
                                    4. Contain at least 1 upper case letter: (A to Z)
                                    5. Contain at least 1 one special character
                                    <div class="padding5"></div>
                                    <table class="tblcreate">
                                        <tr>
                                            <td width="150">New Password</td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.UserAccount.NewPassword)
                                                @Html.PasswordFor(m => m.UserAccount.NewPassword, new { @type = "password", id = "Password", @placeholder = "New Password", @class = "pwd" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Confirm New Password</td>
                                            <td>
                                                @Html.ValidationMessageFor(m => m.UserAccount.ConfirmPassword)
                                                @Html.PasswordFor(m => m.UserAccount.ConfirmPassword, new { @type = "password", @placeholder = "Confirm Password", @class = "pwd" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="mobile_none">&nbsp;</td>
                                            <td>
                                                <div class="commonBtn_bg02">
                                                    @Html.ValidationMessage("Id") <br />
                                                    <input type="submit" id="btnreset" class="submitBtn" value="Change Password">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
        <div class="padding20"></div>
    </div>

    <footer>Copyright © @DateTime.Now.Year Tampines Town Council. All Rights Reserved. </footer>


</body>
</html>
