
@{
    Layout = null;
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model ResidentServicesBanner
@Html.AntiForgeryToken()
<table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
    <tr>
        <td class="fieldname">Page</td>
        <td>
            @Html.TextBoxFor(m => m.Page, new { @type = "text", disabled = "disabled" })

            @Html.HiddenFor(m => m.GUID)

        </td>
    </tr>
    <tr>
        <td class="fieldname">Upload Image <span class="importantNote">(1920px by 600px)</span></td>
        <td>
            <div class="upload">
                <input type="button" class="uploadBtn" value="Choose File">
                <input type="file" name="Image" id="Image" data-imageWidth="" data-imageHeight="" />
                <label>
                    @Html.TextBox("ImageFileNames", (Model != null && !string.IsNullOrEmpty(Model.ImageName) ? Model.ImageName + "." + Model.ImageExtension.Trim('.') : ""), new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })
                    @Html.HiddenFor(m => m.ImageGUID)
                    @Html.HiddenFor(m => m.ImageExtension)
                    @Html.HiddenFor(m => m.ImageName)
                    @*<input type="text" name="uploadFile_HomeAdd" id="uploadFile_HomeAdd" value="" placeholder="No file chosen">*@
                </label>
            </div>
            @Html.ValidationMessage("Image")
            <div class="imgPreview"><img id="ImageFilePath" src="@appPath/Resources/Images/ResidentServicesBanner/@Model.ImageGUID.@Model.ImageExtension"></div>

            @*@appPath/Resources/Images/ResidentServicesBanner/@Model.ImageGUID.@Model.ImageExtension*@
        </td>
    </tr>
</table>
<div class="padding10"></div>
<input type="button" class="submitBtn floatRight" id="ServicesBannersubmitbtn" value="Publish">
<div class="clear padding10"></div>


