
@{
    ViewBag.Title = "Tampines Town Council | CMS";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@*<style>
        #ui-datepicker-div {
            z-index: 999999999 !important;
        }
    </style>*@
@model ViewBannerModel
<div class="maincontents">
    <form>
        <h1>Banners Update</h1>
        <h2 class="floatLeft">Homepage</h2>
        <div class="floatRight">
            <a href="javascript:void(0)" id="sortSeqbtn" class="editMetaBtn">Sort Sequence</a>&nbsp;&nbsp;
            <a href="javascript:void(0)" id="addhomebannerbtn" class="editMetaBtn">Add Image</a>
        </div>
        <div class="clear"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">

                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Image Name</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.HomeBanner != null && Model.HomeBanner.Count > 0)
                    {
                        int SNo = 1;

                        foreach (HomeBanner HB in Model.HomeBanner)
                        {
                            <tr>
                                <td>@SNo</td>
                                <td>@HB.ImageName</td>
                                <td><img src="@appPath/Resources/Images/HomeBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" /></td>
                                <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                                <td><a href="javascript:void(0)" data-id="@HB.GUID" id="edithomebannerbtn">Edit</a> | <a href="javascript:void(0)" data-id="@HB.GUID" id="deletehomebannerbtn">Delete</a></td>
                            </tr>
                            SNo++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                No Results Found!
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>About Us</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.AboutUsBanner != null && Model.AboutUsBanner.Count > 0)
                    {
                        int SNo = 1;

                        foreach (AboutUsBanner HB in Model.AboutUsBanner)
                        {
                            <tr>
                                <td>@SNo</td>
                                <td>@HB.Page</td>
                                <td>
                                    @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                    {
                                        <img src="@appPath/Resources/Images/AboutUsBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                    }
                                </td>
                                <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                                <td><a href="javascript:void(0)" data-id="@HB.GUID" id="editaboutusbannerbtn">Edit</a> </td>
                            </tr>
                            SNo++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                No Results Found!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>Our Town</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.OurTownBanner != null && Model.OurTownBanner.Count > 0)
                    {
                        int SNo = 1;

                        foreach (OurTownBanner HB in Model.OurTownBanner)
                        {
                            <tr>
                                <td>@SNo</td>
                                <td>@HB.Page</td>
                                <td>
                                    @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                    {
                                        <img src="@appPath/Resources/Images/OurTownBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                    }
                                </td>
                                <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                                <td><a href="javascript:void(0)" data-id="@HB.GUID" id="editourtownbannerbtn">Edit</a> </td>
                            </tr>
                            SNo++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                No Results Found!
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>Resident Services</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.ResidentServicesBanner != null && Model.ResidentServicesBanner.Count > 0)
                {
                    int SNo = 1;

                    foreach (ResidentServicesBanner HB in Model.ResidentServicesBanner)
                    {
                        <tr>
                            <td>@SNo</td>
                            <td>@HB.Page</td>
                            <td>
                                @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                {
                                    <img src="@appPath/Resources/Images/ResidentServicesBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                }
                            </td>
                            <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                            <td><a href="javascript:void(0)" data-id="@HB.GUID" id="editServicesBannerbtn">Edit</a> </td>
                        </tr>
                        SNo++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Results Found!
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>TEMPO</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.TEMPOBanner != null && Model.TEMPOBanner.Count > 0)
                {
                    int SNo = 1;

                    foreach (TEMPOBanner HB in Model.TEMPOBanner)
                    {
                        <tr>
                            <td>@SNo</td>
                            <td>@HB.Page</td>
                            <td>
                                @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                {
                                    <img src="@appPath/Resources/Images/TEMPOBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                }
                            </td>
                            <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                            <td><a href="javascript:void(0)" data-id="@HB.GUID" id="edittempobannerbtn">Edit</a> </td>
                        </tr>
                        SNo++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Results Found!
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>Events</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.EventBanner != null && Model.EventBanner.Count > 0)
                {
                    int SNo = 1;

                    foreach (EventBanner HB in Model.EventBanner)
                    {
                        <tr>
                            <td>@SNo</td>
                            <td>@HB.Page</td>
                            <td>
                                @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                {
                                    <img src="@appPath/Resources/Images/EventBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                }
                            </td>
                            <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                            <td><a href="javascript:void(0)" data-id="@HB.GUID" id="editeventbannerbtn">Edit</a> </td>
                        </tr>
                        SNo++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Results Found!
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="clear padding10"></div>

        <h2>Contact Us</h2>
        <div class="clear padding5"></div>
        <div class="homepage">
            <table cellpadding="0" cellspacing="0" class="tblgrey">
                <thead>
                    <tr>
                        <th width="60">S/N</th>
                        <th width="300">Page</th>
                        <th>Banner Image</th>
                        <th width="200">Modified Date</th>
                        <th width="120">Action</th>
                    </tr>
                </thead>
                @if (Model != null && Model.ContactUsBanner != null && Model.ContactUsBanner.Count > 0)
                {
                    int SNo = 1;

                    foreach (ContactUsBanner HB in Model.ContactUsBanner)
                    {
                        <tr>
                            <td>@SNo</td>
                            <td>@HB.Page</td>
                            <td>
                                @if (HB.ImageGUID != null && HB.ImageExtension != null)
                                {
                                    <img src="@appPath/Resources/Images/ContactUsBanner/@HB.ImageGUID.@HB.ImageExtension" class="banner" alt="" />
                                }
                            </td>
                            <td>@string.Format("{0:dd/MM/yyyy hh:mm:ss tt}", (HB.ModifiedOn != DateTime.MinValue) ? HB.ModifiedOn : HB.CreatedOn)</td>
                            <td><a href="javascript:void(0)" data-id="@HB.GUID" id="editContactUsbannerbtn">Edit</a> </td>
                        </tr>
                        SNo++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No Results Found!
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="clear padding10"></div>
    </form>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content deletealert">
            <div class="modal-header">
                <div class="title">Delete Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align:center;">
                    <p><strong>Are you sure to delete this banner image?</strong></p>
                    <div class="padding10"></div>
                    @using (Html.BeginForm("DeleteHomeBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "DeleteHomeBannerForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="EncryptedId" id="DeleteBannerId" />
                        <input type="button" id="DeleteBannerbtn" class="submitBtn" value="Delete">
                    }

                    <div class="clear padding10"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (sort Sequence) -->
<div class="modal fade" id="sortSeq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Sort Sequence</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("SortHomeBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "SortHomeBannerForm" }))
                    {

                    }



                    <div class="clear padding10"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit HOME) -->
<div class="modal fade" id="editHome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Homepage Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditHomeBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditHomeBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (add HOME) -->
<div class="modal fade" id="addHome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Add Homepage Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("AddHomeBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddHomeBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="aboutUsedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditAboutUsBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditAboutUsBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Popup (edit) -->
<div class="modal fade" id="OurTownedit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditOurTownBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditOurTownBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Popup (edit) -->
<div class="modal fade" id="ResidentServicesdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditResidentServicesBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditResidentServicesBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="TEMPOBanneredit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditTEMPOBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditTEMPOBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="eventBanneredit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditEventBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditEventBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="ContactUsBanneredit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Banner Image</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    @using (Html.BeginForm("EditContactUsBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditContactUsBannerForm" }))
                    {

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.DataBaseStatus != null)
{
    <div class="modal fade" id="ChangesUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content deletealert">
                <div class="modal-header">
                    <div class="title">Status</div>
                    <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">
                    <div class="container" style="text-align:center;">


                        <div class="padding10"></div>

                        <div class="field"></div>
                        <div style="text-align: center;">
                            <p><strong>Changes Updated</strong></p>
                            <div class="padding10"></div>
                            &nbsp; &nbsp;
                            <a href="javascript:;" class="commonBtn close" data-dismiss="modal" aria-hidden="true">Ok</a>
                            <div class="clear padding10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    @*<script src="@appPath/Contents/jquery-1.12.4.js"></script>
        <script src="@appPath/Contents/jquery-ui.js"></script>
        <script src="@appPath/Contents/bootstrap/bootstrap.js"></script>*@

    <script type="text/javascript" src="@appPath/Contents/scripts/jqueryValidate/jquery.validate.js"></script>
    <script type="text/javascript" src="@appPath/Contents/scripts/jqueryValidate/jquery.validate.additional-methods.js"></script>
    <script type="text/javascript" src="@appPath/Contents/scripts/jqueryValidate/jquery.alphanum.js"></script>

    <script src="@appPath/Contents/Admin/js/Custom/admin-home.js"></script>


}


